body {
  font-size: 16px;
  margin: 0;
}

.header {
  background-image: url("assets/wineAndFood.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  padding-bottom: 20px;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.header h1 {
  font-size: 48px;
  margin: 0;
  text-transform: uppercase;
}

.header p {
  font-size: 28px;
  width: 70%;
  margin: 0 auto;
}

.textContainer {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 20px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 4%;
  margin-top: 80px;
  margin-bottom: 0;
}
button {
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

.food-button {
  background-color: #ff4136;
  cursor: pointer;
}

.dog-button {
  background-color: #2ecc40;
  cursor: pointer;
}

.wine-button {
  background-color: #ff851b;
}

button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
